/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #7d7764;
	font-family: 'DM Sans', sans-serif;
	font-size: 13px;
	color: #8A8985;
}

@keyframes typewriter {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes blink {
	50% { border-color: transparent; }
}

.typewriter {
	overflow: hidden; 
	border-right: 0.15em solid orange; /* Cursor color */
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: 0.15em; 
	animation: 
		typewriter 4s steps(40, end),
		blink 0.75s step-end infinite;
	display: inline-block;
	font-family: 'DM Sans', sans-serif; /* Matches your existing font */
	font-size: 2em; /* Adjust size as needed */
	color: #000; /* Adjust color as needed */
	max-width: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #7D7764;
}
